body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;

  overflow: hidden;
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

#logo {
  height: 60px;
  margin-left: 70px;

}

.row {
  display: flex;
  height: calc(100vh - 100px);
  
}

.column {
  flex: 1;
  background-color: rgb(0, 0, 0);
  text-align: center;

}

.middle {
  flex: 2;
  background-color: lightblue;
  text-align: center;

}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.rowmiddle {
  flex: 1;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}
.left{
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.right{
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align:justify;
  font-family: 'Albert Sans', sans-serif;
  
  background-color: aqua;
}
.middle2 {
  flex: 6;
  display: flex;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: calc(100% - 300px);
  margin-bottom: calc(100% - 300px);

  animation: rotation 20s linear infinite;

}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 600px) {
  
  header {display: none;}
}




